##CREACIÓN DE UN DATAFRAME DESDE CERO

In [0]:
# creamos una lista desde 0, con valores string, int y además valores nulos
datos = [(None,'Smith   ','36636','M',3500),
         ('Michael','   Rose','40288','M',4750),
         ('Robert','Williams','42114','M',None),
         ('Maria','    Jones    ','39192','F',4000)
        ]

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
# pyspark necesita un esquema para organizarse. lo definimos:
esquema = StructType([
    StructField('firstname', StringType(), True),
    StructField('lastname', StringType(), False),
    StructField('id', StringType(), False),
    StructField('gender', StringType(), True),
    StructField('salary', IntegerType(), True)
])

Out[7]: StructType([StructField('firstname', StringType(), True), StructField('lastname', StringType(), False), StructField('id', StringType(), False), StructField('gender', StringType(), True), StructField('salary', IntegerType(), True)])

In [0]:
# creamos el dataframe con pyspark con los datos y su esquema relacionado
df = spark.createDataFrame(datos, esquema)
# mostramos el esquema del dataframe
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = false)
 |-- id: string (nullable = false)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
# mostramos el dataframe con todo ya definido
df.show()

+---------+-------------+-----+------+------+
|firstname|     lastname|   id|gender|salary|
+---------+-------------+-----+------+------+
|     null|     Smith   |36636|     M|  3500|
|  Michael|         Rose|40288|     M|  4750|
|   Robert|     Williams|42114|     M|  null|
|    Maria|    Jones    |39192|     F|  4000|
+---------+-------------+-----+------+------+

##CREAR DATAFRAME DESDE ARCHIVO (I)

In [0]:
# asignamos la variable la ruta del archivo que queremos importar para crear csv. esto viene dado desde databricks
file = 'dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales.csv'

In [0]:
# creamos el dataframe desde el archivo que hemos subido
sales_df = spark.read.format("csv").option("header", True).option("inferSchema", True).load(file) # con "inferSchema" el esquema lo deduce pyspark del .csv
# esto comentado viene desde el propio databricks que te da la opción de crear el dataframe directamente desde el archivo justo al subirlo
# df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales-1.csv")
# mostramos el esquema del dataframe que hemos subido, que ya estaría asignado dentro del propio archivo
sales_df.printSchema()

root
 |-- Order_ID: integer (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

In [0]:
sales_df.show(truncate=False)

+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
|Order_ID |Order_Date|Item_Type      |Units_Sold|Unit_Price|Region                           |Country               |Ship_Date |
+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
|535113847|2014-10-08|Snacks         |934       |152.58    |Middle East and North Africa     |Azerbaijan            |2014-10-23|
|874708545|2015-02-22|Cosmetics      |4551      |437.2     |Central America and the Caribbean|Panama                |2015-02-27|
|854349935|2015-12-09|Fruits         |9986      |9.33      |Sub-Saharan Africa               |Sao Tome and Principe |2016-01-18|
|892836844|2014-09-17|Personal Care  |9118      |81.73     |Sub-Saharan Africa               |Sao Tome and Principe |2014-10-12|
|129280602|2010-02-04|Household      |5858      |668.27    |Central America and the Caribbean|Belize                |2010-03-05|
|473105037|2013-02-20|Clothes        |1149      |109.28    |Europe                           |Denmark               |2013-02-28|
|754046475|2013-03-31|Cosmetics      |7964      |437.2     |Europe                           |Germany               |2013-05-03|
|772153747|2012-03-26|Fruits         |6307      |9.33      |Middle East and North Africa     |Turkey                |2012-04-07|
|847788178|2012-12-29|Snacks         |8217      |152.58    |Europe                           |United Kingdom        |2013-01-15|
|471623599|2015-09-11|Cosmetics      |2758      |437.2     |Asia                             |Kazakhstan            |2015-09-18|
|554646337|2013-12-27|Cosmetics      |1031      |437.2     |Central America and the Caribbean|Haiti                 |2014-01-01|
|278155219|2013-12-17|Clothes        |1165      |109.28    |Europe                           |Italy                 |2014-01-10|
|243761575|2015-03-10|Household      |3322      |668.27    |Europe                           |Malta                 |2015-04-17|
|223389232|2014-07-09|Household      |4693      |668.27    |Middle East and North Africa     |Jordan                |2014-07-18|
|509274518|2017-06-14|Vegetables     |4502      |154.06    |Asia                             |Cambodia              |2017-06-29|
|563966262|2011-08-10|Office Supplies|9004      |651.21    |Central America and the Caribbean|Saint Kitts and Nevis |2011-08-29|
|370325791|2015-12-18|Fruits         |6486      |9.33      |Sub-Saharan Africa               |Cameroon              |2016-02-06|
|881526935|2016-06-26|Vegetables     |2264      |154.06    |Middle East and North Africa     |Bahrain               |2016-07-19|
|871056020|2015-05-11|Beverages      |3688      |47.45     |Australia and Oceania            |Solomon Islands       |2015-05-30|
|982711875|2012-01-13|Office Supplies|5137      |651.21    |Europe                           |Monaco                |2012-01-17|
+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
only showing top 20 rows

##CREAR DATAFRAME DESDE ARCHIVO (II)

In [0]:
from pyspark.sql.types import IntegerType, StringType, FloatType, ArrayType, DateType, BooleanType
# ahora lo que vamos a hacer es lo mismo pero con un tipo de archivo distinto, esta vez en .json. establecemos el esquema de la estructura, ya que al ser .json no podemos extraerla del archivo directamente
persons_schema = StructType([
    StructField('id', IntegerType(), True),
    StructField('first_name', StringType(), True),
    StructField('last_name', StringType(), True),
    StructField('fav_movies', ArrayType(StringType()), True),
    StructField('salary', FloatType(), True),
    StructField('image_url', StringType(), True),
    StructField('date_of_birth', DateType(), True),
    StructField('active', BooleanType(), True)
])

In [0]:
# asignamos a la variable del archivo la ruta del archivo que hemos subido
file = 'dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/persons.json'

In [0]:
# creamos el dataframe en pyspark:
persons_df = spark.read.format('json').option('multiline', True).schema(persons_schema).load(file)
# esta siguiente línea de código nos la da databricks una vez subimos el archivo, pero nos faltan cosas como en la línea anterior: 
# df1 = spark.read.format("json").load("dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/persons.json")
persons_df.show()

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|      Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 16|   Margaux|   Archbold|[And Now a Word f...|1013.75|http://dummyimage...|   1988-07-29|  true|
| 17|   Balduin|    Elstone|      [Sisters, The]|2302.26|http://dummyimage...|   1974-07-20| false|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 19|      Lura|     Follis|[My Life in Pink ...|3331.26|http://dummyimage...|   1998-11-03| false|
| 20|      Maxi|      Cluet|[All I Want for C...|4046.46|http://dummyimage...|   1979-05-06| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 20 rows

In [0]:
# con el siguiente comando podemos observar el dataframe como en pandas o en excel, de una manera más sencilla de visualizar: 
display(persons_df)

id,first_name,last_name,fav_movies,salary,image_url,date_of_birth,active
1,Drucy,Poppy,List(I giorni contati),1463.36,http://dummyimage.com/126x166.png/cc0000/ffffff,1991-02-16,true
2,Emelyne,Blaza,"List(Musketeer, The, Topralli)",3006.04,http://dummyimage.com/158x106.bmp/cc0000/ffffff,1991-11-02,false
3,Max,Rettie,"List(The Forgotten Space, Make It Happen)",1422.88,http://dummyimage.com/237x140.jpg/ff4444/ffffff,1990-03-03,false
4,Ilario,Kean,List(Up Close and Personal),3561.36,http://dummyimage.com/207x121.jpg/cc0000/ffffff,1987-06-09,true
5,Toddy,Drexel,"List(Walk in the Clouds, A)",4934.87,http://dummyimage.com/116x202.png/cc0000/ffffff,1992-10-28,true
6,Oswald,Petrolli,"List(Wing and the Thigh, The (L'aile ou la cuisse))",1153.23,http://dummyimage.com/137x172.jpg/5fa2dd/ffffff,1986-09-02,false
7,Adrian,Clarey,"List(Walking Tall, Paradise, Hawaiian Style)",1044.73,http://dummyimage.com/244x218.bmp/cc0000/ffffff,1971-08-24,false
8,Dominica,Goodnow,List(Hearts Divided),1147.76,http://dummyimage.com/112x203.jpg/dddddd/000000,1973-08-27,false
9,Emory,Slocomb,"List(Snake and Crane Arts of Shaolin (She hao ba bu), Mala Noche)",1082.11,http://dummyimage.com/138x226.jpg/cc0000/ffffff,1974-06-08,true
10,Jeremias,Bode,"List(Farewell to Arms, A)",3472.63,http://dummyimage.com/243x108.bmp/dddddd/000000,1997-08-02,true
11,Timothy,Ervine,"List(Land of the Lost, Save the Last Dance, Whispering Corridors (Yeogo Goedam))",1147.61,http://dummyimage.com/162x184.bmp/5fa2dd/ffffff,1971-06-02,false
12,Leanora,Gooder,"List(It's All About Love, Scooby-Doo! The Mystery Begins)",1327.02,http://dummyimage.com/108x237.png/5fa2dd/ffffff,1981-12-17,false
13,Claiborn,Denham,"List(McCullin, Max Payne, Oath, The)",2623.33,http://dummyimage.com/250x200.bmp/5fa2dd/ffffff,1996-03-07,false
14,Ambrosi,Vidineev,"List(Wall Street: Money Never Sleeps, Applause (Applaus), When a Stranger Calls)",4550.88,http://dummyimage.com/232x159.png/5fa2dd/ffffff,1989-07-20,true
15,Feodor,Nancekivell,List(Monsoon Wedding),2218.46,http://dummyimage.com/119x120.bmp/cc0000/ffffff,2000-10-07,false
16,Margaux,Archbold,List(And Now a Word from Our Sponsor),1013.75,http://dummyimage.com/229x133.png/5fa2dd/ffffff,1988-07-29,true
17,Balduin,Elstone,"List(Sisters, The)",2302.26,http://dummyimage.com/171x173.png/5fa2dd/ffffff,1974-07-20,false
18,Alfie,Hatliffe,List(Lord of Tears),3893.1,http://dummyimage.com/142x242.png/5fa2dd/ffffff,1989-06-21,true
19,Lura,Follis,"List(My Life in Pink (Ma vie en rose), Test Pilot, Sin of Madelon Claudet, The)",3331.26,http://dummyimage.com/189x205.bmp/dddddd/000000,1998-11-03,false
20,Maxi,Cluet,List(All I Want for Christmas),4046.46,http://dummyimage.com/110x101.png/cc0000/ffffff,1979-05-06,false
21,Dian,Dancy,"List(Double, Double, Toil and Trouble)",3720.3,http://dummyimage.com/237x138.png/cc0000/ffffff,1998-12-01,true
22,Theodore,Climance,"List(Story of the Weeping Camel, The (Geschichte vom weinenden Kamel, Die), Black Orpheus (Orfeu Negro))",3008.56,http://dummyimage.com/142x231.jpg/cc0000/ffffff,1999-01-30,false
23,Min,Latter,"List(Kurt Cobain: Montage of Heck, Bey Yaar)",1909.87,http://dummyimage.com/135x201.jpg/dddddd/000000,1991-03-17,false
24,Camellia,Jervoise,List(Waiting to Exhale),3431.17,http://dummyimage.com/213x117.png/ff4444/ffffff,1996-07-14,false
25,Kelcy,Wogdon,"List(Iron Mask, The)",4512.51,http://dummyimage.com/229x198.jpg/ff4444/ffffff,2000-10-20,true
26,Clive,Lax,List(Rabid),2126.87,http://dummyimage.com/136x104.bmp/ff4444/ffffff,1981-10-26,true
27,Kelila,Harrowsmith,"List(Apparition, The)",4651.58,http://dummyimage.com/156x139.jpg/ff4444/ffffff,1973-01-02,true
28,Frankie,Copestick,"List(Computer Wore Tennis Shoes, The)",1186.68,http://dummyimage.com/115x123.png/dddddd/000000,1994-03-09,false
29,Eli,Normabell,"List(Return to Peyton Place, Dead Poets Society, How to Survive a Plague)",4917.48,http://dummyimage.com/121x158.jpg/5fa2dd/ffffff,1993-01-02,true
30,Carter,Ferre,"List(In a World..., Bitch Slap, If Looks Could Kill)",1737.73,http://dummyimage.com/111x188.jpg/dddddd/000000,1980-10-10,false
31,Cynthy,Witch,List(Armadillo),2400.58,http://dummyimage.com/161x222.bmp/cc0000/ffffff,1983-10-22,false
32,Redd,Akenhead,"List(Century of the Dragon (Long zai bian yuan), Barbarian Queen II: The Empress Strikes Back)",2470.9,http://dummyimage.com/190x128.jpg/dddddd/000000,2000-06-05,false
33,Sherline,Primett,List(Jungle Fighters),2309.39,http://dummyimage.com/230x221.jpg/5fa2dd/ffffff,1972-07-23,true
34,Davis,Pinks,List(Hounddog),1337.14,http://dummyimage.com/231x186.bmp/ff4444/ffffff,1989-07-27,true
35,Fanni,Dyson,"List(Wild One, The)",3228.58,http://dummyimage.com/139x156.bmp/cc0000/ffffff,1995-01-09,true
36,Ozzie,Brownlie,List(Orange County),3945.18,http://dummyimage.com/126x237.png/5fa2dd/ffffff,1992-01-25,false
37,Carlen,Sharply,List(Dr. Jekyll and Mr. Hyde),2051.85,http://dummyimage.com/168x224.png/5fa2dd/ffffff,2002-06-01,true
38,Camile,Mace,"List(Family Guy Presents: Blue Harvest, Wavelength)",3559.93,http://dummyimage.com/159x120.jpg/cc0000/ffffff,1994-12-12,false
39,Melinda,McKevitt,"List(Safrana or Freedom of Speech (Safrana ou le droit à la parole), Christiane F. (a.k.a. We Children from Bahnhof Zoo) (Christiane F. - Wir Kinder vom Bahnhof Zoo), Girlfriends, The (Le amiche))",4166.13,http://dummyimage.com/250x179.png/dddddd/000000,1979-12-15,true
40,Jordan,Lorant,"List(Shockproof, Bachelor, The, Changeling, The)",2183.91,http://dummyimage.com/206x177.png/ff4444/ffffff,1979-07-29,true
41,Sky,Hails,"List(Trotsky, The, Survivors, The, Chronicles (Crónicas))",1633.95,http://dummyimage.com/133x148.jpg/ff4444/ffffff,1971-02-19,false
42,Cristiano,Shaw,"List(Can-Can, Feeding Frenzy)",3180.08,http://dummyimage.com/123x190.jpg/dddddd/000000,1997-04-07,true
43,Guthrie,Veeler,"List(Mr. Brooks, Second Woman, The, Slumber Party Massacre II)",4806.88,http://dummyimage.com/209x111.jpg/5fa2dd/ffffff,1978-07-31,true
44,Wolfgang,Inger,List(No Such Thing),3192.85,http://dummyimage.com/111x165.png/cc0000/ffffff,1973-11-16,true
45,Rem,Hanhard,"List(The Adventures of André and Wally B., Holiday Engagement)",1365.89,http://dummyimage.com/185x117.png/dddddd/000000,1985-08-02,false
46,Giffie,Kemmish,"List(State Witness, The (Swiadek koronny), 99 and 44/100% Dead)",4543.29,http://dummyimage.com/160x156.bmp/dddddd/000000,1995-06-25,false
47,Ardis,Wotton,"List(Little Colonel, The)",3827.61,http://dummyimage.com/107x143.bmp/ff4444/ffffff,1979-06-13,true
48,Maximilian,Jonin,"List(The Last Shark, Pat and Mike)",3274.34,http://dummyimage.com/167x130.jpg/5fa2dd/ffffff,1994-09-16,false
49,Kendricks,Kee,List(Flower & Garnet),2304.39,http://dummyimage.com/121x108.png/cc0000/ffffff,1999-11-14,true
50,Darbee,Brownjohn,List(Lana Turner... a Daughter's Memoir),3120.83,http://dummyimage.com/201x182.jpg/ff4444/ffffff,1996-02-07,false
51,El,Dohrmann,List(El Hada Buena - Una Fábula Peronista),4810.48,http://dummyimage.com/130x112.png/dddddd/000000,1984-04-24,true
52,Thorvald,Finnan,"List(Star Maker, The (Uomo delle stelle, L'), Deuces Wild, Piñero)",2194.92,http://dummyimage.com/219x148.png/ff4444/ffffff,1984-09-16,false
53,Franciska,Gilford,"List(Cathedral, The (Katedra))",4406.27,http://dummyimage.com/238x218.jpg/cc0000/ffffff,1976-04-08,false
54,Johny,Goodenough,List(Maximum Overdrive),3592.31,http://dummyimage.com/130x242.bmp/cc0000/ffffff,1977-08-18,false
55,Jere,Shakelady,List(Spencer's Mountain),2866.28,http://dummyimage.com/157x234.bmp/dddddd/000000,1999-05-03,false
56,Kayley,Conws,"List(The Nutcracker Prince, U Turn, JFK: The Smoking Gun)",2674.39,http://dummyimage.com/212x112.bmp/ff4444/ffffff,1997-10-18,false
57,Krystle,Shovell,"List(Doomsday, Flight of the Conchords: A Texan Odyssey, Exit Wounds)",2260.76,http://dummyimage.com/248x238.jpg/dddddd/000000,1987-09-01,true
58,Nahum,Wildgoose,"List(Thomas in Love (Thomas est Amoureux), American Dreams in China, Happiness of the Katakuris, The (Katakuri-ke no kôfuku))",4009.3,http://dummyimage.com/199x176.png/dddddd/000000,1986-12-17,true
59,Wynn,Sayre,"List(Misérables in Concert, Les, Delta Force 2 (Delta Force 2: The Colombian Connection), Summer of Sam)",2689.51,http://dummyimage.com/154x190.bmp/dddddd/000000,1997-06-30,false
60,Bev,Symcox,"List(Alvin and the Chipmunks: The Squeakquel, Inseparable, Bells of Innocence)",2586.38,http://dummyimage.com/227x207.bmp/cc0000/ffffff,1976-11-09,true
61,Shanna,Samples,List(Thomas in Love (Thomas est Amoureux)),2703.0,http://dummyimage.com/155x215.jpg/5fa2dd/ffffff,1989-07-07,false
62,Wilden,Mayger,"List(Rock, Paper, Scissors: The Way of the Tosser, Hollywood Knights, The)",3372.25,http://dummyimage.com/158x137.bmp/5fa2dd/ffffff,1998-12-27,false
63,Toddy,Matevosian,"List(Snake Eyes, Jauja)",4394.08,http://dummyimage.com/207x232.jpg/ff4444/ffffff,1972-03-17,true
64,Loralyn,Nimmo,"List(Queen to Play (Joueuse), Frankenstein Meets the Wolf Man)",3005.12,http://dummyimage.com/149x242.jpg/5fa2dd/ffffff,1980-01-03,true
65,Hillyer,MacArdle,List(Slim Susie (Smala Sussie)),3826.59,http://dummyimage.com/118x112.png/dddddd/000000,1985-07-19,true
66,Rudy,Ritelli,"List(Pope's Toilet, The (El bano del Papa))",4268.39,http://dummyimage.com/207x226.jpg/5fa2dd/ffffff,1998-09-01,true
67,Feodora,Giacomazzo,List(Death Watch (La Mort en Direct)),2122.2,http://dummyimage.com/141x164.jpg/dddddd/000000,1971-12-19,true
68,Ilsa,Hedman,"List(Night of the Demons 2, Long John Silver, UnHung Hero)",3219.26,http://dummyimage.com/142x235.jpg/dddddd/000000,1986-01-29,true
69,Annabell,Doughty,"List(Entertaining Angels: The Dorothy Day Story, Jimmy and Judy, Jezebel)",2022.57,http://dummyimage.com/101x132.jpg/dddddd/000000,2000-09-03,true
70,Franciska,Lees,"List(Ay, Carmela! (¡Ay, Carmela!), Trilogy: The Weeping Meadow (Trilogia: To livadi pou dakryzei), Song Is Born, A)",3017.31,http://dummyimage.com/142x148.jpg/cc0000/ffffff,1982-07-15,false
71,Cecily,Salomon,List(Mrs. Henderson Presents),4062.93,http://dummyimage.com/115x130.bmp/cc0000/ffffff,1999-07-18,true
72,Eugine,McRamsey,List(Lawman),2006.46,http://dummyimage.com/185x133.jpg/5fa2dd/ffffff,1998-09-12,false
73,Jere,Burchill,List(Project A ('A' gai waak)),1244.32,http://dummyimage.com/209x154.png/dddddd/000000,1998-07-30,false
74,Micky,Umfrey,"List(Haunted House, The, Swept Away (Travolti da un insolito destino nell'azzurro mare d'Agosto), Tevye)",1271.82,http://dummyimage.com/101x138.png/ff4444/ffffff,1989-07-04,false
75,Norean,Baum,"List(Fright Night, Blade of the Ripper, Yrrol: An Enormously Well Thought Out Movie (Yrrol - en kolossalt genomtänkt film))",2924.43,http://dummyimage.com/187x118.bmp/cc0000/ffffff,1974-03-27,true
76,Trace,Balke,"List(Dark Truth, A (Truth, The))",4812.73,http://dummyimage.com/109x177.png/dddddd/000000,1982-01-03,true
77,Elianora,Notman,List(Nostalghia),2132.07,http://dummyimage.com/105x245.bmp/dddddd/000000,1999-06-26,false
78,Nyssa,Rajchert,"List(Little Accidents, Naked Kiss, The)",2697.06,http://dummyimage.com/146x105.jpg/5fa2dd/ffffff,1987-08-28,true
79,Deina,Pennick,"List(Invisible Invaders, Particle Fever, Buster Keaton: A Hard Act to Follow)",1048.92,http://dummyimage.com/166x180.bmp/ff4444/ffffff,1999-11-28,true
80,Lorilee,Petrie,"List(Gaudi Afternoon, Hollywood and The Pentagon: A Dangerous Liaison, Princess of Mars)",4153.15,http://dummyimage.com/124x184.png/dddddd/000000,2002-07-29,false
81,Daveta,Crutchley,"List(Camp Rock 2: The Final Jam, Guyana Tragedy: The Story of Jim Jones, Moonlight Murder)",2627.25,http://dummyimage.com/118x246.png/dddddd/000000,1978-11-16,false
82,Lucita,Sowerbutts,"List(Redemption: For Robbing the Dead, Batman/Superman Movie, The, Take My Eyes (Te doy mis ojos))",3052.35,http://dummyimage.com/201x220.jpg/ff4444/ffffff,1972-09-18,true
83,Kalinda,Pearcy,"List(Blind Swordsman: Zatoichi, The (Zatôichi))",2824.97,http://dummyimage.com/139x177.jpg/5fa2dd/ffffff,1996-02-20,false
84,Ricca,Newgrosh,"List(Documentarian, Dare)",3412.06,http://dummyimage.com/135x132.jpg/5fa2dd/ffffff,1984-07-27,false
85,Maxine,Ewenson,"List(Savior, Beaver Trilogy Part IV)",3363.5,http://dummyimage.com/171x235.png/cc0000/ffffff,2001-01-24,false
86,Welbie,Crackel,"List(All That Heaven Allows, The New Babylon, Fjorton suger)",2720.28,http://dummyimage.com/201x124.bmp/5fa2dd/ffffff,1990-10-24,true
87,Margareta,Marusik,"List(Eyjafjallajökull, Made in America, Minuscule: Valley of the Lost Ants (Minuscule - La vallée des fourmis perdues))",3416.97,http://dummyimage.com/187x115.bmp/cc0000/ffffff,1983-10-01,false
88,Jobie,Maughan,"List(Devils on the Doorstep (Guizi lai le), On the Run)",3899.2,http://dummyimage.com/187x144.png/cc0000/ffffff,2000-02-07,false
89,Tish,Machon,"List(Arrowhead, Simon)",4830.06,http://dummyimage.com/161x139.png/dddddd/000000,1995-06-08,true
90,Josy,Pellew,List(Dominion: Prequel to the Exorcist),2791.54,http://dummyimage.com/198x154.jpg/cc0000/ffffff,1981-01-14,false
91,Stanley,Sargeaunt,"List(Blow Out, Ashes, The (Popioly), God Said 'Ha!')",2958.64,http://dummyimage.com/149x140.png/ff4444/ffffff,1986-09-12,false
92,Daron,Briance,"List(Train on the Brain, Two Thousand Maniacs!, Anything Goes)",4226.35,http://dummyimage.com/110x137.png/5fa2dd/ffffff,2002-02-22,true
93,Janean,Pelz,List(Once),4906.92,http://dummyimage.com/241x212.jpg/ff4444/ffffff,1975-09-23,true
94,Bennie,Knight,"List(House on Carroll Street, The)",2370.24,http://dummyimage.com/183x155.png/cc0000/ffffff,1977-08-27,false
95,Cobb,MacLure,"List(Storage 24, His Secret Life (a.k.a. Ignorant Fairies, The) (Fate ignoranti, Le))",1621.17,http://dummyimage.com/181x215.png/ff4444/ffffff,1994-06-28,false
96,Dew,Coopland,List(Rush),2725.56,http://dummyimage.com/181x146.bmp/5fa2dd/ffffff,1986-11-14,false
97,Rodi,Farnan,"List(Code, The (Mentale, La), Guadalcanal Diary)",2325.88,http://dummyimage.com/214x164.bmp/ff4444/ffffff,1972-01-04,false
98,Davin,Labb,"List(Viva Riva!, Killer Inside Me, The)",1452.74,http://dummyimage.com/238x145.bmp/ff4444/ffffff,1988-01-27,true
99,Rozalie,Wannop,"List(Suddenly, The Noble Family)",1259.64,http://dummyimage.com/104x154.png/cc0000/ffffff,1997-03-25,false
100,Virgie,Domanski,"List(Horseman, The, Sword of Desperation (Hisshiken torisashi))",2165.93,http://dummyimage.com/220x111.png/ff4444/ffffff,2002-01-05,true

###CONSULTA DE DATOS DF

In [0]:
# los mismos comandos de SQL sirven para pyspark - el select nos selecciona las columnas que deseamos:
sales_df.select('Order_ID','Item_Type','Units_Sold','Unit_Price','Country').show(10,truncate=False) # fijarse en la manera de llamar columnas con () y no en []
# en .show() aclaramos el número de filas que queremos mostrar y el truncate = False nos trunca hacia la izquierda las columnas, si fuese True, hacia la derecha

+---------+-------------+----------+----------+---------------------+
|Order_ID |Item_Type    |Units_Sold|Unit_Price|Country              |
+---------+-------------+----------+----------+---------------------+
|535113847|Snacks       |934       |152.58    |Azerbaijan           |
|874708545|Cosmetics    |4551      |437.2     |Panama               |
|854349935|Fruits       |9986      |9.33      |Sao Tome and Principe|
|892836844|Personal Care|9118      |81.73     |Sao Tome and Principe|
|129280602|Household    |5858      |668.27    |Belize               |
|473105037|Clothes      |1149      |109.28    |Denmark              |
|754046475|Cosmetics    |7964      |437.2     |Germany              |
|772153747|Fruits       |6307      |9.33      |Turkey               |
|847788178|Snacks       |8217      |152.58    |United Kingdom       |
|471623599|Cosmetics    |2758      |437.2     |Kazakhstan           |
+---------+-------------+----------+----------+---------------------+
only showing top 10 rows

In [0]:
# podemos seleccionar las columnas también con df.COLUMNA como en pandas, igual
sales_df.select(sales_df.Order_ID).show(10,truncate=False)

+---------+
|Order_ID |
+---------+
|535113847|
|874708545|
|854349935|
|892836844|
|129280602|
|473105037|
|754046475|
|772153747|
|847788178|
|471623599|
+---------+
only showing top 10 rows

In [0]:
# también podemos usar distintas funciones de sql que podemos importar desde la librería como col y expr, que son columnas y expresiones 
from pyspark.sql.functions import col, expr
# las usamos así, donde en col seleccionamos la columna y en expr generamos una columna con una expresión, en este caso de unidades vendidas * precio de unidades para dar un precio total
sales_df.select(col('Order_ID'), col('Item_Type'), expr("Units_Sold * Unit_Price as TOTAL_PRICE")).show(10)

+---------+-------------+------------------+
| Order_ID|    Item_Type|       TOTAL_PRICE|
+---------+-------------+------------------+
|535113847|       Snacks|         142509.72|
|874708545|    Cosmetics|         1989697.2|
|854349935|       Fruits|          93169.38|
|892836844|Personal Care|         745214.14|
|129280602|    Household|3914725.6599999997|
|473105037|      Clothes|         125562.72|
|754046475|    Cosmetics|         3481860.8|
|772153747|       Fruits|          58844.31|
|847788178|       Snacks|        1253749.86|
|471623599|    Cosmetics|1205797.5999999999|
+---------+-------------+------------------+
only showing top 10 rows

In [0]:
# podemos obviamente también aplicarles filtros como el where de sql y lo ejecutamos con filter ANTES de seleccionar las columnas, así: 
sales_df.filter((col('Region')=='Europe') & (col('Country')=='Spain')) \
.select(col('Order_ID'), col('Country'), col('Item_Type'),expr("Units_Sold * Unit_Price as TOTAL_PRICE")).show(5)
# & como AND, | como OR, ~ como NOT

+---------+-------+-------------+------------------+
| Order_ID|Country|    Item_Type|       TOTAL_PRICE|
+---------+-------+-------------+------------------+
|860891091|  Spain|Personal Care|462591.80000000005|
|413236844|  Spain|    Household|         3221061.4|
|621470248|  Spain|      Clothes|         624207.36|
|337587821|  Spain|   Vegetables|        1323837.58|
|420354354|  Spain|       Snacks|         160056.42|
+---------+-------+-------------+------------------+
only showing top 5 rows

In [0]:
# así como podemos utilizar el .filter primero, también podemos usar el .where como en SQL con la diferencia que el where solamente admite un filtrado, hay que aplicar otro .where después con la siguiente condición
sales_df.where(col('Region')=='Europe').where(col('Country')=='Spain') \
.select(col('Order_ID'),col('Country'),col('Item_Type'), expr("Units_Sold * Unit_Price as TOTAL_PRICE")).show(5)

+---------+-------+-------------+------------------+
| Order_ID|Country|    Item_Type|       TOTAL_PRICE|
+---------+-------+-------------+------------------+
|860891091|  Spain|Personal Care|462591.80000000005|
|413236844|  Spain|    Household|         3221061.4|
|621470248|  Spain|      Clothes|         624207.36|
|337587821|  Spain|   Vegetables|        1323837.58|
|420354354|  Spain|       Snacks|         160056.42|
+---------+-------+-------------+------------------+
only showing top 5 rows

In [0]:
# podemos también ordenar las columnas por valores ascendentes o descendentes con .orderBy DESPUÉS de seleccionar las columnas
sales_df.select(col('Order_ID'),col('Country'),col('Item_Type'),col('Units_Sold')) \
.orderBy(col('Units_Sold').desc(),col('Country').asc()).show(20,truncate=False) # esto ordena por unidades vendidas, y con los mismos valores de unidades vendidas, ordena por país ascendente
# para tratar con valores nulos existen las opciones ‘asc_nulls_first()’, ‘desc_nulls_first()’, ‘asc_nulls_last()’, ‘desc_nulls_last()’

+---------+------------------------------+---------------+----------+
|Order_ID |Country                       |Item_Type      |Units_Sold|
+---------+------------------------------+---------------+----------+
|257909476|Cape Verde                    |Household      |10000     |
|261322534|Comoros                       |Cosmetics      |10000     |
|122941577|Federated States of Micronesia|Vegetables     |10000     |
|225874030|Ghana                         |Cereal         |10000     |
|143555104|Iceland                       |Personal Care  |10000     |
|573532950|Iran                          |Snacks         |10000     |
|885743367|Panama                        |Meat           |10000     |
|230469834|Qatar                         |Meat           |10000     |
|240709006|Andorra                       |Beverages      |9999      |
|895982539|Cameroon                      |Beverages      |9999      |
|572350203|Cote d'Ivoire                 |Snacks         |9999      |
|264735591|Cote d'Ivoire                 |Personal Care  |9999      |
|928017985|Haiti                         |Meat           |9999      |
|746179664|Moldova                       |Clothes        |9999      |
|936026847|Nepal                         |Office Supplies|9999      |
|485435473|South Africa                  |Beverages      |9999      |
|938257157|Benin                         |Beverages      |9998      |
|820489728|Denmark                       |Vegetables     |9998      |
|105741107|Greenland                     |Personal Care  |9998      |
|646660268|Nicaragua                     |Office Supplies|9998      |
+---------+------------------------------+---------------+----------+
only showing top 20 rows

In [0]:
# podemos usar también el distinct de SQL para mostrar los valores únicos de las columnas. en este caso contamos los valores únicos de la columna Region:
print(sales_df.select('Region').distinct().count())

7

In [0]:
# ahora mostramos las regiones distintas: 
sales_df.select('Region').distinct().show(truncate=False)

+---------------------------------+
|Region                           |
+---------------------------------+
|Middle East and North Africa     |
|Australia and Oceania            |
|Europe                           |
|Sub-Saharan Africa               |
|Central America and the Caribbean|
|North America                    |
|Asia                             |
+---------------------------------+

In [0]:
# también podemos limitar/RECORTAR a los números que queremos mostrar con .limit como sql. aquí contamos las filas que tenemos para observar que se limita perfetamente
sales_df.select(col('Order_ID'),col('Country'),col('Item_Type'),col('Units_Sold')) \
.orderBy(col('Units_Sold').desc(),col('Country').asc()).limit(20).count()

Out[66]: 20

In [0]:
# donde aquí tenemos el dataframe de donde hemos limitado/recortado
sales_df.select(col('Order_ID'),col('Country'),col('Item_Type'),col('Units_Sold')) \
.orderBy(col('Units_Sold').desc(),col('Country').asc()).limit(20).show(truncate=False)

+---------+------------------------------+---------------+----------+
|Order_ID |Country                       |Item_Type      |Units_Sold|
+---------+------------------------------+---------------+----------+
|257909476|Cape Verde                    |Household      |10000     |
|261322534|Comoros                       |Cosmetics      |10000     |
|122941577|Federated States of Micronesia|Vegetables     |10000     |
|225874030|Ghana                         |Cereal         |10000     |
|143555104|Iceland                       |Personal Care  |10000     |
|573532950|Iran                          |Snacks         |10000     |
|885743367|Panama                        |Meat           |10000     |
|230469834|Qatar                         |Meat           |10000     |
|240709006|Andorra                       |Beverages      |9999      |
|895982539|Cameroon                      |Beverages      |9999      |
|572350203|Cote d'Ivoire                 |Snacks         |9999      |
|264735591|Cote d'Ivoire                 |Personal Care  |9999      |
|928017985|Haiti                         |Meat           |9999      |
|746179664|Moldova                       |Clothes        |9999      |
|936026847|Nepal                         |Office Supplies|9999      |
|485435473|South Africa                  |Beverages      |9999      |
|938257157|Benin                         |Beverages      |9998      |
|820489728|Denmark                       |Vegetables     |9998      |
|105741107|Greenland                     |Personal Care  |9998      |
|646660268|Nicaragua                     |Office Supplies|9998      |
+---------+------------------------------+---------------+----------+

##EJERCICIO
###     Devolver los campos producto, unidades vendidas, fechas de pedido y envío, de las ventas de la Zona Logística de Asia, ordenadas por país. Sólo nos interesan los 10 primeros.

In [0]:
sales_df.where(col('Region')=='Asia') \
.select(col('Item_Type'),col('Units_Sold'),col('Order_Date'),col('Ship_Date')) \
.orderBy(col('Country').desc()).show(10,truncate=False)

+---------------+----------+----------+----------+
|Item_Type      |Units_Sold|Order_Date|Ship_Date |
+---------------+----------+----------+----------+
|Baby Food      |1702      |2014-04-14|2014-04-22|
|Clothes        |9353      |2013-05-09|2013-06-09|
|Personal Care  |1898      |2013-04-27|2013-06-13|
|Cosmetics      |8397      |2010-07-16|2010-08-11|
|Fruits         |7747      |2017-01-11|2017-02-25|
|Vegetables     |4335      |2010-11-08|2010-11-23|
|Cosmetics      |7990      |2015-11-22|2015-12-16|
|Snacks         |7953      |2015-11-17|2015-12-28|
|Snacks         |5911      |2011-09-11|2011-10-19|
|Office Supplies|9041      |2013-07-23|2013-08-08|
+---------------+----------+----------+----------+
only showing top 10 rows

##MODIFICAR DATOS DATAFRAME

In [0]:
# ahora podemos añadir nuevas columnas con la librería de funciones de sql, con la función lit
from pyspark.sql.functions import lit
# creamos una columna llamada Sent con la función lit como False
# VALOR DETERMINADO
sales_df.withColumn("Sent", lit(False)).show(5)
# creamos una columna nueva en el dataframe con una expresión de unidades vendidas * precio de unidades con la siguiente sintaxis
# CAMPO CALCULADO
sales_df.withColumn("Total_Price", expr("round((Units_Sold *  Unit_Price),2)")).show(5)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date| Sent|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|false|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|false|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|false|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|false|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|false|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----+
only showing top 5 rows

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date|Total_Price|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|  142509.72|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|  1989697.2|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|   93169.38|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|  745214.14|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05| 3914725.66|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+-----------+
only showing top 5 rows

In [0]:
print(sales_df.printSchema())
# podemos cambiarle el nombre a una columa con .withColumnRenamed con la siguiente sintaxis
sales_df.withColumnRenamed('Region','Logist_Area').show(truncate=False)

root
 |-- Order_ID: integer (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

None
+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
|Order_ID |Order_Date|Item_Type      |Units_Sold|Unit_Price|Logist_Area                      |Country               |Ship_Date |
+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
|535113847|2014-10-08|Snacks         |934       |152.58    |Middle East and North Africa     |Azerbaijan            |2014-10-23|
|874708545|2015-02-22|Cosmetics      |4551      |437.2     |Central America and the Caribbean|Panama                |2015-02-27|
|854349935|2015-12-09|Fruits         |9986      |9.33      |Sub-Saharan Africa               |Sao Tome and Principe |2016-01-18|
|892836844|2014-09-17|Personal Care  |9118      |81.73     |Sub-Saharan Africa               |Sao Tome and Principe |2014-10-12|
|129280602|2010-02-04|Household      |5858      |668.27    |Central America and the Caribbean|Belize                |2010-03-05|
|473105037|2013-02-20|Clothes        |1149      |109.28    |Europe                           |Denmark               |2013-02-28|
|754046475|2013-03-31|Cosmetics      |7964      |437.2     |Europe                           |Germany               |2013-05-03|
|772153747|2012-03-26|Fruits         |6307      |9.33      |Middle East and North Africa     |Turkey                |2012-04-07|
|847788178|2012-12-29|Snacks         |8217      |152.58    |Europe                           |United Kingdom        |2013-01-15|
|471623599|2015-09-11|Cosmetics      |2758      |437.2     |Asia                             |Kazakhstan            |2015-09-18|
|554646337|2013-12-27|Cosmetics      |1031      |437.2     |Central America and the Caribbean|Haiti                 |2014-01-01|
|278155219|2013-12-17|Clothes        |1165      |109.28    |Europe                           |Italy                 |2014-01-10|
|243761575|2015-03-10|Household      |3322      |668.27    |Europe                           |Malta                 |2015-04-17|
|223389232|2014-07-09|Household      |4693      |668.27    |Middle East and North Africa     |Jordan                |2014-07-18|
|509274518|2017-06-14|Vegetables     |4502      |154.06    |Asia                             |Cambodia              |2017-06-29|
|563966262|2011-08-10|Office Supplies|9004      |651.21    |Central America and the Caribbean|Saint Kitts and Nevis |2011-08-29|
|370325791|2015-12-18|Fruits         |6486      |9.33      |Sub-Saharan Africa               |Cameroon              |2016-02-06|
|881526935|2016-06-26|Vegetables     |2264      |154.06    |Middle East and North Africa     |Bahrain               |2016-07-19|
|871056020|2015-05-11|Beverages      |3688      |47.45     |Australia and Oceania            |Solomon Islands       |2015-05-30|
|982711875|2012-01-13|Office Supplies|5137      |651.21    |Europe                           |Monaco                |2012-01-17|
+---------+----------+---------------+----------+----------+---------------------------------+----------------------+----------+
only showing top 20 rows

In [0]:
# creamos un resumen del dataframe para no perder el original
resumen_df = sales_df.withColumn("Total_Price", expr("Units_Sold *  Unit_Price"))
# también podemos eliminar columnas, tanto las determinadas como las que hemos creado
resumen_df2 = resumen_df.drop('Unit_Price','Region')
resumen_df2.printSchema()
resumen_df2.show(10, truncate=False)

root
 |-- Order_ID: integer (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)
 |-- Total_Price: double (nullable = true)

+---------+----------+-------------+----------+---------------------+----------+------------------+
|Order_ID |Order_Date|Item_Type    |Units_Sold|Country              |Ship_Date |Total_Price       |
+---------+----------+-------------+----------+---------------------+----------+------------------+
|535113847|2014-10-08|Snacks       |934       |Azerbaijan           |2014-10-23|142509.72         |
|874708545|2015-02-22|Cosmetics    |4551      |Panama               |2015-02-27|1989697.2         |
|854349935|2015-12-09|Fruits       |9986      |Sao Tome and Principe|2016-01-18|93169.38          |
|892836844|2014-09-17|Personal Care|9118      |Sao Tome and Principe|2014-10-12|745214.14         |
|129280602|2010-02-04|Household    |5858      |Belize               |2010-03-05|3914725.6599999997|
|473105037|2013-02-20|Clothes      |1149      |Denmark              |2013-02-28|125562.72         |
|754046475|2013-03-31|Cosmetics    |7964      |Germany              |2013-05-03|3481860.8         |
|772153747|2012-03-26|Fruits       |6307      |Turkey               |2012-04-07|58844.31          |
|847788178|2012-12-29|Snacks       |8217      |United Kingdom       |2013-01-15|1253749.86        |
|471623599|2015-09-11|Cosmetics    |2758      |Kazakhstan           |2015-09-18|1205797.5999999999|
+---------+----------+-------------+----------+---------------------+----------+------------------+
only showing top 10 rows

In [0]:
df.show()
# también podemos eliminar aquellos valores nulos, identificando las columnas que queremos hacer el drop
not_null_df = df.dropna(subset='salary')
not_null_df.show()

+---------+-------------+-----+------+------+
|firstname|     lastname|   id|gender|salary|
+---------+-------------+-----+------+------+
|     null|     Smith   |36636|     M|  3500|
|  Michael|         Rose|40288|     M|  4750|
|   Robert|     Williams|42114|     M|  null|
|    Maria|    Jones    |39192|     F|  4000|
+---------+-------------+-----+------+------+

+---------+-------------+-----+------+------+
|firstname|     lastname|   id|gender|salary|
+---------+-------------+-----+------+------+
|     null|     Smith   |36636|     M|  3500|
|  Michael|         Rose|40288|     M|  4750|
|    Maria|    Jones    |39192|     F|  4000|
+---------+-------------+-----+------+------+

In [0]:
# podemos cambiar el tipo de una columna en concreto con .cast() y el tipo entre '' para que se guarde. esto sirve si se ha hecho mal el inferScheme, para poder cambiar el tipo de datos de manera sencilla
sales_df.withColumn('Order_ID', col('Order_ID').cast('string')).printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

In [0]:
# para hacerlo bonito, podemos eliminar espacio de las columnas de texto con .ltrim, .rtrim y .trim
from pyspark.sql.functions import ltrim, rtrim, trim
# mostramos el dataframe para saber dónde tenemos espacios de más
df.show()
# corregimos con trim en la columna
corregido2 = df.withColumn('lastname', trim(col('lastname')))
# mostrmos el dataframe corregido
corregido2.show()

+---------+-------------+-----+------+------+
|firstname|     lastname|   id|gender|salary|
+---------+-------------+-----+------+------+
|     null|     Smith   |36636|     M|  3500|
|  Michael|         Rose|40288|     M|  4750|
|   Robert|     Williams|42114|     M|  null|
|    Maria|    Jones    |39192|     F|  4000|
+---------+-------------+-----+------+------+

+---------+--------+-----+------+------+
|firstname|lastname|   id|gender|salary|
+---------+--------+-----+------+------+
|     null|   Smith|36636|     M|  3500|
|  Michael|    Rose|40288|     M|  4750|
|   Robert|Williams|42114|     M|  null|
|    Maria|   Jones|39192|     F|  4000|
+---------+--------+-----+------+------+

##EXTRA: ESCRIBIR (GUARDAR) DATAFRAME RESULTADO, FORMATO PARQUET (DISTRIBUIDO)

In [0]:
# podemos guardar el datagrame del resultado en formato parquet en nuestro path de databricks
path = 'dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean'
(sales_df.write
       	.format("parquet")
            	.mode("overwrite")
            	.option("compression", "snappy")
            	.save(path))

In [0]:
%fs ls 'dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean'

path,name,size,modificationTime
dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean/_SUCCESS,_SUCCESS,0,1697791607000
dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean/_committed_7240800930604064197,_committed_7240800930604064197,224,1697791607000
dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean/_started_7240800930604064197,_started_7240800930604064197,0,1697791606000
dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean/part-00000-tid-7240800930604064197-d39c34be-b41b-47eb-b389-1faae9ffec3e-162-1-c000.snappy.parquet,part-00000-tid-7240800930604064197-d39c34be-b41b-47eb-b389-1faae9ffec3e-162-1-c000.snappy.parquet,662217,1697791607000
dbfs:/FileStore/shared_uploads/jesuspt98@gmail.com/sales_clean/part-00001-tid-7240800930604064197-d39c34be-b41b-47eb-b389-1faae9ffec3e-163-1-c000.snappy.parquet,part-00001-tid-7240800930604064197-d39c34be-b41b-47eb-b389-1faae9ffec3e-163-1-c000.snappy.parquet,588435,1697791607000